.markdown h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.markdown h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

.markdown h3 {
    font-size: 1.25rem;
    line-height: 2rem;
}

.markdown tr {
    border-top: 1px solid white;
    background: rgb(45, 45, 45);
}

.markdown th,
.markdown td {
    padding: 6px 13px;
    border: 1px solid white;
}

.markdown table tr:nth-child(2n) {
    background: rgb(45, 45, 45);
}