.markdown h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.markdown h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.markdown h3 {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.markdown tr {
    border-top: 1px solid white;
    background: rgb(35, 35, 35);
}

.markdown th,
.markdown td {
    padding: 6px 13px;
    border: 1px solid white;
}

.markdown table tr:nth-child(2n) {
    background: rgb(25, 25, 25);
}

.markdown a {
    color: #00AEFF;
    text-decoration: underline;
}

.markdown ul,
.markdown ol {
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 2em;
}

.markdown li>p {
    margin-top: 16px;
}

.markdown li+li {
    margin-top: .25em;
}

.markdown ol {
    list-style-type: upper-roman;
}

.markdown ul {
    list-style-type: disc;
}

.markdown p {
    margin-top: 0;
    margin-bottom: 20px;
}

.markdown p:last-child {
    margin-bottom: 0;
}

.markdown blockquote>p:last-child {
    margin-bottom: 20px;
}

.markdown blockquote {
    margin: 0;
    padding: 0 1em;
    border-left: .25em solid rgb(80, 80, 80);
}

.markdown p>code {
    background-color: rgb(30, 30, 30);
    border-radius: 0.5rem;
    padding: 0.125rem 0.5rem;
}